<div class="row-cards">
    <% @posts.each do |post| %>
        <div class="col s3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src=<%= post.user.image[:size_192]%>>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 "><%= post.user.name%></span>
            </div>
	    <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= post.user.name %> <i class="material-icons right">close</i></span>
            <p class='card-text' ><%= post.text%></p>
           </div>
          </div>
        </div>
    <% end %>
</div>
