<!DOCTYPE html>
<html>
<head>
  <title>Feed</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='sidebar'>
<h5> <span class='white-text name'>Nova Quotes</span></h5>
</div>

<%= yield %>

</body>
</html>
